extends layout.pug

block scripts
  - var title = "About"

block content
  img.portrait(src='images/portrait.jpeg')
  ul.info
    li Bryan Head
    li
      a(href='mailto:bryan.head@u.northwestern.edu') bryan.head@u.northwestern.edu
    li
      a(href='https://github.com/qiemem/') GitHub
    li
      a(href='https://www.linkedin.com/in/bryan-head-720457155/') LinkedIn
    li
      a(href='https://stackoverflow.com/users/145080/bryan-head') StackOverFlow
    li PhD candidate
    li Department of EECS
    li Center for Connected Learning and Computer-Based Modeling
    li Northwestern Institute on Complex Systems
    li Northwestern University

  br/

  p.
    I research and develop tools and techniques for simulating and analyzing complex systems.
    In particular, my work focuses on extending the capabilities of traditional agent-based modeling, analyzing agent-based models with machine learning, and incorporating machine learning techniques into the behaviors of agents.

