html
  head
    block scripts
    -
      var sites = {
        About: 'index.html',
        Software: 'software.html',
        Publications: 'publications.html'
      };
    title Bryan Head - #{title}
    link(href='stylesheets/main.css', rel='stylesheet', type='text/css')
  body
    .banner
    nav
      ul
        li
          each url, name in sites
            a(href=url)= name
    .content
      block content

